<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>¿Quienes somos?</title>
        <link rel="stylesheet" href="style.css" />
        <script 
            src="https://kit.fontawesome.com/64d58efce2.js" 
            crossorigin="anonymous">
        </script>
    </head>
    <body>
        <div class="container">
            <span class="big-circle"></span>
            <img src="img/007-hourglass.png" class="square" alt="" />
            <div class="form-invertida">
                <form action="indexContactenos.html" method="POST" autocomplete="off">
                    <h3 class="title">¿Quienes somos?</h3>
                    <p class="text-invertido">
                        Somos líderes dando acompañamiento de diferentes maneras a las personas que como tu tienen un emprendimiento 
                        y quieren tener una vision mas clara sobre su ideas de negocio nuestro equipo de trabajo esta conformado por:
                        <br>
                        <br>Francy Alvarado - Matemática.
                        <br>Tania Bonilla - Economista.
                        <br>Nicolás Bravo - Adm. de Empresas.
                        <br>Edisson Alejo - Ing. Telecomunicaciones.
                        <br>Brayan Martínez - Ilustrador.
                    </p>
                </form>
                

                <div class="contact-form-invertida">
                    <span class="circle one"></span>
                    <span class="circle two"></span>

                    <div class="contact-info">
                        <h3 class="title">¿Quienes nos apoyan?</h3>
                        <p class="text">
                            Contamos con el apoyo del ministerio de las tic.<br>
                            Tambien estamos asesorados por la Universidad Tecnologica de Pereria atravez de el ingeniero Victor Vargas
                        </p>
                        <div class="info">
                            <img src="./img/teamwork.jpg" width="350">
                        </div>
    
                        <div class="social-media">
                            <p>Conéctate con nosotros :</p>
                            <div class="social-icons">
                                <a target = "_blank" href="https://www.facebook.com/">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a target = "_blank" href="https://twitter.com/">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a target = "_blank" href="https://instagram.com/">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a target="_blank" href="https://www.linkedin.com/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a target="_blank" href="https://github.com/Grupo-5-N-9-Grupo-UTP">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="app.js"></script>
    </body>
</html>