.topnav {
    overflow: hidden;
    background: #1f1f1f;
    height: 45px;
    width: 100%;    
    position: fixed;
    z-index: 10000;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    background: #1f1f1f;
}

.topnav a:hover {
    background: #464646;
}

.topnav a.active {
    background: beige;
    width: 45px;
    padding: 10px 0;
    
}

.topnav a img{
    width: 28px;
    height: 28px;
}

.topnav a.active:hover {
    background-color: #464646;
    color: beige;
}

.topnav-right {
    float: right;
    right: 0;
}

.topnav-responsive {
    float: right;
    display: none;
}

.subMenu {    
    position: fixed;  
    right: 0px;  
    display: none;
    padding-top: 50px;
    width: 200px;    
    z-index: 9999;
    background: #1f1f1f;
    border-radius: 15px;
    overflow: hidden;
}

.subMenu a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    
}

.subMenu a:hover {
    background: #464646;
}


.subMenu form {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #1f1f1f;    
    padding: 15px;
}

.subMenu form label {
    color: white;
    font-size: 12px;
    padding: 4px;
}

.subMenu form input {
    height: 35px;
    width: 150px;
    margin: 00.05em;
}

.subMenu form button {
    height: 25px;
    width: 100px;
    background-color: beige;
    font-size: 12px;
    font-weight: bold;
    color: #2e2e2e;
    border-radius: 25px;
    cursor: pointer;    
}

.subMenu button:hover {
    background: lightgray;
}

.wrapper {
    
    padding-top: 0px;
    z-index: 1;
}
.section{
    padding-top: 44px;
}

.footer {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
}

body {
    background-color: blanchedalmond;
}

@media (max-width: 700px) {
    .topnav-responsive {
        display: block;
    }
    .topnav-left {
        display: none;
    }
}


@media (max-width: 480px) {
}
