<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Calcula tu emprendimiento</title>
        <link rel="stylesheet" href="style.css" />
        <script 
            src="https://kit.fontawesome.com/64d58efce2.js" 
            crossorigin="anonymous">
        </script>
    </head>
    <body>
        <div class="container">
            <span class="big-circle"></span>
            <img src="img/007-hourglass.png" class="square" alt="" />
            <div class="form-invertida">
                <form action="indexContactenos.html" method="POST" autocomplete="off">
                    <h3 class="title">Calcula tu Rentabilidad</h3>
                    <div class="input-container">
                        <input type="text" name="name-emprendimiento" class="input" required/>
                        <label for="">Nombre Emprendimiento</label>
                        <span>Nombre Emprendimiento</span>
                    </div>
                    <div class="input-container">
                        <input type="text" name="tipo-negocio" class="input" required/>
                        <label for="">Tipo de Negocio</label>
                        <span>Tipo de Negocio</span>
                    </div>
                    <div class="input-container">
                        <input type="text" name="ingresos" class="input" required/>
                        <label for="">Ingresos</label>
                        <span>Ingresos</span>
                    </div>
                    <div class="input-container">
                        <input color="pink"type="text" name="costo" class="input" required/>
                        <label for="">Costo de Bienes Vendidos</label>
                        <span>Costo de Bienes Vendidos</span>
                    </div>
                    <div class="input-container">
                        <input type="text" name="gastos" class="input" required/>
                        <label for="">Gastos Operativos</label>
                        <span>Gastos Operativos</span>
                    </div>
                    <input type="button" value="Calcular" class="btn" />
                </form>
                

                <div class="contact-form-invertida">
                    <span class="circle one"></span>
                    <span class="circle two"></span>

                    <div class="contact-info">
                        <h3 class="title">Ejemplo Indice de Rentabilidad</h3>
                        <p class="text">
                            <img src="img/Nada.png" class="ajustImagen">
                        </p>
                        <div class="info">
                            <div class="informacion">
                                <input type="button" value="Ver Grafico" class="btn-invertido" href="#"/>
                            </div>
                            <br>
                            <div class="informacion">
                                
                                <br>
                                <button class="btn-invertido" href="https://www.caminofinancial.com/es/como-calcular-los-indices-de-rentabilidad-de-tu-empresa/">Quizá te interese</button>
                                <input type="button" value="Quizá te interese" class="btn-invertido" href="https://www.caminofinancial.com/es/como-calcular-los-indices-de-rentabilidad-de-tu-empresa/"/>
                            </div>
                            
                        </div>
    
                        <div class="social-media">
                            <p>Conéctate con nosotros :</p>
                            <div class="social-icons">
                                <a target = "_blank" href="https://www.facebook.com/">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a target = "_blank" href="https://twitter.com/">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a target = "_blank" href="https://instagram.com/">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a target="_blank" href="https://www.linkedin.com/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a target="_blank" href="https://github.com/Grupo-5-N-9-Grupo-UTP">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="app.js"></script>
    </body>
</html>