<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="pink" text="black">
    <header>
    <div><center> 
        <img src="logo1.jpg">
        <h1>EMPRENDEPEDIA</h1>
        <img src="img/inicio.png">
        <img src="img/nosotros.png">
        <img src="img/servicios.png">
        <img src="img/contacto.png">
        <p></p>
        <p></p>
        <p></p>
        <img src="imagen11.jpg">
        <img src="bruce.jpg">
        
                <center><table  bgcolor="#da793e">
                    <tr>
                        <td colspan="1">
                            <center><h2>bienvenidos a la plataforma que te ayudara con tud idea de negocio.
                            </h2></center>
                        </td>
                        
                    </tr>
                    <tr>
                        <td colspan="1">
                            <h3>En esta plataforma encontraras diferentes articulos beneficiosos si eres un emprendedor que no sabes como plantear una idead de negocio, si ya tiene la idea planteada pues te asesoramos con que tipo de documentacion necesitas para que tu idea de negocio se convierta en una empresa  y si ya tienes la empresa la informacion de la plataforma te ayudar a hacer calculos financieros y de como restuscturar las falencias que estan en la empresa para que sean beneficiosas y hasta tal vez lucrativas.
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        
                    </tr>
                    </table></center>
        <button class="btn btn-outline-primary">
        desliza hacia abajo para conoce mas?
        </button>
    </div>
    <header>
</body>
</html> 